/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.grid {
      overflow: hidden;
      max-width: 76em;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
}

.grid li {
  list-style-type: none;
}


.grid li > div {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin: 3px;
  height: 185px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', 'sans-serif';
  border-radius: 8px;
  box-shadow: 3px 3px 3px #777;
  
}

@media all and (min-width: 27em) {
  .grid li {
    width: 50%;
    float: left;
  }
}

@media all and (min-width: 40em) {
  .grid li {
    width: 33.3333333%;
  }
  .grid li.wide {
    width: 66.666666%;
  }
}

@media all and (min-width: 60em) {
  .grid li {
    width: 25%;
  }
  .grid li.wide {
    width: 50%;
  }
}

.grid li > div > h1,h2,h3,h4,h5 {
  display: inline;
}

.condition {
  font-style: italic;
}

body {
  background-image: url('bkrd.jpg');
  background-repeat: no-repeat;
  font-family: 'Roboto', 'sans-serif';
  margin: 0 auto;
}

h1 {
  background: #FFF;
  font-weight: 300;
}

#title{
  width: 200px;
  font-size: 24px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px auto;
  padding: 5px;
  box-shadow: 3px 3px 3px #777;
}

a:link {color:#000;}   
a:visited {color:#000;}
a:hover {color:#333;}  
a:active {color:#000;} 


