<div width="100%" align="center"><h1>Trails Index</h1></div>

<table width="100%">
  <thead>
    <td>
      Trail
    </td>
    <td>
      Condition
    </td>
    <td>
      Description
    </td>
    <td>
      Date Updated
    </td>
  </thead>
  <% @trails.each do |t| %>
    <tr>
      <td>
        <%= t.name %> 
      </td>       
      <td>
        <%= t.condition %> 
      </td>
      <td>
        <%= t.desc %>
      </td>
      <td>
        <%= t.date %>
      </td>
    <tr>
  <% end %>
</table>
